@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  color: #161a19;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 768px) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Mukta', sans-serif;
  line-height: 1.6;
  font-size: 1.6rem;
  background: linear-gradient(to right, #f2994a, #F2c94c); }

.container {
  padding: 2.5rem;
  margin: 0 auto;
  max-width: 120rem;
  display: grid;
  grid-template-columns: repeat(8, [col-start] minmax(min-content, 15rem) [col-end]);
  grid-gap: 1rem; }
  @media only screen and (max-width: 768px) {
    .container {
      padding: 1rem; } }

.navigation {
  grid-row: 1 / 2;
  grid-column: col-start 1 / col-end 8;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #fff;
  position: relative; }
  @media only screen and (max-width: 768px) {
    .navigation {
      flex-direction: column;
      justify-content: center;
      align-items: center; } }
  .navigation > * {
    display: inline-block; }
  .navigation__brand {
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: .2rem;
    margin-right: auto;
    padding: .5rem 1rem;
    display: flex;
    align-items: center; }
    .navigation__brand--main {
      color: #f2994a; }
    .navigation__brand i {
      color: #f2994a;
      font-size: 3.5rem;
      margin: 0 1rem; }
    @media only screen and (max-width: 768px) {
      .navigation__brand {
        margin: 0 auto;
        border-bottom: 1px solid #f2994a;
        margin-bottom: 1rem; } }
  .navigation__list {
    list-style: none; }
    @media only screen and (max-width: 768px) {
      .navigation__list {
        max-height: 0rem;
        overflow: hidden;
        transition: all .5s; } }
    @media only screen and (max-width: 768px) {
      .navigation__list--active {
        max-height: 17rem; } }
  .navigation__item {
    display: inline-block;
    margin-left: 1rem;
    font-size: 2rem; }
    @media only screen and (max-width: 768px) {
      .navigation__item {
        display: block;
        text-align: center; } }
  .navigation__link {
    transition: all .2s;
    font-size: 2rem;
    text-transform: uppercase; }
    .navigation__link:link, .navigation__link:visited {
      text-decoration: none;
      color: inherit;
      padding: .5rem 1rem; }
      @media only screen and (max-width: 768px) {
        .navigation__link:link, .navigation__link:visited {
          padding: .5rem .8rem; } }
    .navigation__link:hover, .navigation__link:active {
      color: #f2994a; }
  .navigation__cart {
    margin: 0 2rem;
    font-size: 3rem;
    color: #f2994a;
    opacity: .8;
    transition: all .2s;
    cursor: pointer;
    position: relative;
    z-index: 800; }
    .navigation__cart__elem-num {
      width: 15px;
      height: 15px;
      position: absolute;
      top: .5rem;
      right: -.5rem;
      background-color: #e74c3c;
      display: inline-block;
      z-index: 900;
      border-radius: 50%;
      color: #fff;
      font-size: 1.2rem;
      display: flex;
      justify-content: center;
      align-items: center; }
      @media only screen and (max-width: 768px) {
        .navigation__cart__elem-num {
          position: absolute;
          top: 0;
          right: -.5rem;
          width: 30px;
          height: 30px; } }
    .navigation__cart:hover {
      opacity: 1; }
    @media only screen and (max-width: 768px) {
      .navigation__cart {
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        background-color: #161a19;
        font-size: 2.8rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 8rem;
        height: 8rem;
        z-index: 800; } }
  .navigation__menu {
    display: none;
    position: absolute;
    top: .5rem;
    right: 1.5rem;
    color: #f2994a;
    font-size: 4rem; }
    @media only screen and (max-width: 768px) {
      .navigation__menu {
        display: block; } }

.header {
  grid-row: 2 / 3;
  grid-column: col-start 1 / col-end 8;
  position: relative;
  height: 60vh; }

.carousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)); }
  .carousel__img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -100;
    transition: all 1s;
    opacity: 1; }
    .carousel__img--2, .carousel__img--3 {
      opacity: 0; }
  .carousel__tracker {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%); }
  .carousel__box {
    background: #f2994a;
    height: 1.5rem;
    width: 3rem;
    display: inline-block;
    transition: all .2s; }
    .carousel__box:not(:last-child) {
      margin-right: 1rem; }
    .carousel__box:hover {
      background-color: #fff; }

.section-side {
  grid-row: 3 / 4;
  grid-column: col-start 1 / col-end 1;
  padding: 1rem;
  background-color: #fff; }
  @media only screen and (max-width: 900px) {
    .section-side {
      grid-row: 3 / 4;
      grid-column: col-start 1 / col-end 8; } }

.filter {
  text-align: center; }
  .filter__control {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    position: relative;
    color: #f2994a; }
    @media only screen and (max-width: 900px) {
      .filter__control {
        display: inline-block; } }
    .filter__control * > {
      display: inline-block; }
    .filter__control input[type="checkbox"] {
      position: relative;
      z-index: 10;
      opacity: 0; }
  .filter__control input[type="checkbox"]:checked + .filter__style {
    background-color: #f2994a; }
  .filter__control input[type="checkbox"]:checked + .filter__style i {
    display: inline-block; }
  .filter__style {
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
    background-color: rgba(242, 153, 74, 0.4);
    position: absolute;
    top: .4rem;
    left: -.1rem;
    z-index: 0;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .filter__style i {
      font-size: 1.4rem;
      color: #fff;
      display: none; }
  .filter__descrtiption {
    font-size: 1.6rem;
    margin-left: 1rem; }
  .filter__price {
    margin: 2rem 0; }

.section-main {
  grid-row: 3 / 4;
  grid-column: col-start 2 / col-end 8;
  background-color: transparent;
  border: 3px solid #fff; }
  @media only screen and (max-width: 900px) {
    .section-main {
      grid-row: 4 / 5;
      grid-column: col-start 1 / col-end 8; } }

.mobiles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  grid-gap: 4rem;
  width: 100%;
  padding: 5rem 2.5rem;
  backface-visibility: hidden; }

.mobile {
  box-shadow: 0 1rem 1.5rem rgba(22, 26, 25, 0.3);
  padding: 1rem;
  background-color: #fff;
  transition: all .4s;
  backface-visibility: hidden; }
  .mobile__img {
    width: 100%;
    display: inline-block; }
  .mobile__brand {
    background: linear-gradient(45deg, #f2994a, #F2c94c);
    padding: .5rem 2rem;
    font-size: 1.8rem;
    text-align: center;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase; }
  .mobile__model {
    display: block; }
  .mobile__price {
    border-bottom: 1px solid #f2994a;
    padding: .5rem 1rem;
    text-align: center;
    margin-bottom: 1rem; }
  .mobile__specs {
    padding: 1rem;
    backface-visibility: hidden; }
  .mobile__box {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700; }
    .mobile__box span {
      font-weight: 400; }
  .mobile:hover {
    transform: scale(1.05);
    box-shadow: 0 1.5rem 2rem rgba(22, 26, 25, 0.3);
    backface-visibility: hidden; }
  .mobile .btn {
    font-size: 1.6rem; }

.section-contact {
  grid-row: 4 / 5;
  grid-column: col-start 1 / col-end 8;
  background-color: transparent;
  border: 3px solid #fff; }
  @media only screen and (max-width: 900px) {
    .section-contact {
      grid-row: 5 / 6;
      grid-column: col-start 1 / col-end 8; } }

.form {
  width: 50%;
  margin: 0 auto; }
  @media only screen and (max-width: 900px) {
    .form {
      width: 70%; } }
  .form small {
    display: inline-block;
    color: #fff;
    font-size: 1.7rem;
    transform: translateY(0);
    margin-left: .75rem;
    transition: all .2s;
    position: relative;
    z-index: -1; }
  .form__controll {
    margin-bottom: .5rem; }
    .form__controll input:placeholder-shown ~ small {
      transform: translateY(-3rem);
      opacity: 1; }
  .form__controll:last-of-type small {
    transform: translateY(-14rem);
    opacity: 1; }
  .form__input {
    display: block;
    width: 100%;
    font-size: 1.6rem;
    padding: 1rem;
    color: inherit;
    border: none;
    position: relative;
    z-index: 10; }
    .form__input::placeholder {
      font-size: 1.2rem;
      font-family: inherit;
      text-transform: uppercase; }
  .form__textarea {
    height: 15rem;
    padding: 1rem;
    font-size: 1.6rem;
    width: 100%;
    font-family: 'Mukta', sans-serif;
    color: inherit;
    border: none; }
    .form__textarea:not(:placeholder-shown) + small {
      transform: translateY(-0.4rem); }
    .form__textarea::placeholder {
      font-size: 1.4rem;
      font-family: 'Mukta', sans-serif;
      text-transform: uppercase; }
  .form__input:focus, .form__textarea:focus {
    outline: none; }

.footer {
  grid-row: 5 / 6;
  grid-column: col-start 1 / col-end 8;
  background-color: #161a19;
  color: #f2994a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem; }
  @media only screen and (max-width: 900px) {
    .footer {
      grid-row: 6 / 7; } }

.copyright {
  font-size: 1.6rem;
  padding: 1rem; }

.socials__box {
  display: inline-block;
  font-size: 3rem;
  margin: 1rem; }
  .socials__box i {
    color: #f2994a;
    transition: all .3s; }
    .socials__box i:hover {
      transform: rotate(360deg) scale(1.2);
      color: #fff; }

.heading-main {
  font-size: 3rem;
  padding: 3rem 4rem;
  color: #f2994a;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  z-index: 5;
  text-transform: uppercase;
  letter-spacing: .2rem; }
  @media only screen and (max-width: 660px) {
    .heading-main {
      font-size: 2.5rem; } }

.heading-second {
  font-size: 4rem;
  text-align: center;
  margin: 3rem 0;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .5rem;
  font-weight: 300; }

.heading-third {
  font-size: 2.2rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 1.4rem;
  position: relative;
  color: #f2994a; }
  .heading-third::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: .25rem;
    width: 5rem;
    background-color: #f2994a; }
  .heading-third--big {
    font-size: 3rem; }

.btn {
  font-size: 1.8rem;
  text-decoration: none;
  padding: .3rem 1rem;
  color: #161a19;
  text-align: center;
  display: inline-block;
  margin: 0;
  width: 50%;
  color: #fff;
  transition: all .2s; }
  .btn--main {
    border: 1px solid #f2994a;
    background-color: #f2994a; }
    .btn--main:hover {
      background-color: inherit;
      color: #f2994a;
      box-shadow: 0 1rem 2rem rgba(22, 26, 25, 0.3);
      transform: translateY(-3px); }
  .btn--second {
    background-color: #F2c94c;
    border: 1px solid #F2c94c; }
    .btn--second:hover {
      background-color: inherit;
      color: #F2c94c;
      box-shadow: 0 1rem 2rem rgba(22, 26, 25, 0.3);
      transform: translateY(-3px); }
  .btn--form {
    width: 100%;
    color: #161a19;
    padding: 1rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-size: 1.7rem;
    border: none;
    background-color: #fff;
    color: #f2994a; }
    .btn--form:focus {
      outline: none; }
    .btn--form:hover {
      transform: translateY(-2px);
      box-shadow: 0 1rem 2rem rgba(22, 26, 25, 0.3); }
    .btn--form:active {
      transform: translateY(0);
      box-shadow: 0 0.5rem 1rem rgba(22, 26, 25, 0.3); }

.buttons {
  padding: 0;
  margin: 0;
  display: flex;
  flex-grow: 1;
  flex-flow: row wrap; }

@keyframes animateExit {
  from {
    transform: rotate(0);
    opacity: 1; }
  to {
    transform: rotate(360deg);
    opacity: 0; } }

@keyframes animateIn {
  from {
    transform: rotate(360deg);
    opacity: 0; }
  to {
    transform: rotate(0);
    opacity: 1; } }

.cart {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  height: 100%;
  background-color: #161a19;
  padding: 5rem;
  color: #fff;
  width: 50rem;
  transition: all .3s ease;
  transform: translateX(50rem);
  overflow-y: auto; }
  @media only screen and (max-width: 660px) {
    .cart {
      width: calc(100vw);
      transform: translateX(100vw); } }
  .cart__box {
    padding: 1rem 1rem;
    margin: .5rem 0;
    border-bottom: 1px solid #f2994a; }
  .cart__controll, .cart__controll-heading {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 1rem 0; }
    .cart__controll > *:not(:last-child), .cart__controll-heading > *:not(:last-child) {
      display: flex;
      align-items: center;
      width: 30%; }
    .cart__controll:not(:last-child), .cart__controll-heading:not(:last-child) {
      border-bottom: 1px solid #fff; }
    .cart__controll input, .cart__controll-heading input {
      width: 6rem;
      background-color: #fff;
      color: #f2994a; }
  .cart__heading {
    color: #f2994a;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    width: 30%; }
  .cart__price {
    justify-content: center; }
  .cart__delete {
    width: 8%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .cart__delete i {
      font-size: 2rem;
      margin-left: 1rem;
      color: #fff;
      cursor: pointer;
      transition: all .2s; }
    .cart__delete:hover > i {
      color: #f2994a; }
  .cart__total {
    width: 100%;
    text-align: right;
    margin-bottom: 3rem;
    font-size: 2rem;
    color: #f2994a; }
  .cart__close {
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
    color: #f2994a;
    font-size: 4rem;
    cursor: pointer;
    z-index: 30; }
  .cart__message {
    border: 1px solid #F2c94c;
    text-align: center;
    color: #F2c94c;
    font-size: 1.8rem;
    margin-top: 1rem;
    padding: .5rem 2rem;
    display: none; }

.number-input {
  font-size: 1.4rem;
  color: #fff;
  padding: 1rem 1rem;
  margin: .2rem 0;
  border: none;
  background-color: rgba(242, 153, 74, 0.9); }
  .number-input:focus {
    outline-color: #f2994a; }
  .number-input:focus {
    outline: none; }
  .number-input*::placeholder {
    color: #fff; }
