@mixin animateBtn($color) {
    color: $color;
    box-shadow: 0 1rem 2rem rgba($c-dark, .3);
    transform: translateY(-3px);
}

@keyframes animateExit {
    from {
        transform: rotate(0);
        opacity: 1;
    }

    to {
        transform: rotate(360deg);
        opacity: 0;
    }
}

@keyframes animateIn {
    from {
        transform: rotate(360deg);
        opacity: 0;
    }

    to {
        transform: rotate(0);
        opacity: 1;
    }
}