.btn {
    font-size: 1.8rem;
    text-decoration: none;
    padding: .3rem 1rem;
    color: $c-dark;
    text-align: center;
    display: inline-block;
    margin: 0;
    width: 50%;
    border: 1px solid $c-main;
    color: $c-white;
    transition: all .2s;


    // &__filter,
    // &__all {
    //     display: inline-block;
    //     margin: 0;
    //     width: 50%;
    // }

    &--main {
        background-color: $c-main;

        &:hover {
            background-color: inherit;
            color: $c-main;
            box-shadow: 0 1rem 2rem rgba($c-dark, .3);
            transform: translateY(-3px);
        }
    }

    &--second {
        background-color: $c-second;

        &:hover {
            background-color: inherit;
            color: $c-second;
            box-shadow: 0 1rem 2rem rgba($c-dark, .3);
            transform: translateY(-3px);
        }
    }

    &--form {
        width: 100%;
        color: $c-dark;
        padding: 1rem;
        margin-bottom: 2rem;
        text-transform: uppercase;
        font-size: 1.6rem;
        
        &:focus {
            outline: none;
        }

        &:hover {
            transform: translateY(-2px);
            box-shadow: 0 1rem 2rem rgba($c-dark, .3);
        }

        &:active {
            transform: translateY(0);
            box-shadow: 0 .5rem 1rem rgba($c-dark, .3);
        }
    }
}

.buttons {
    padding: 0;
    margin: 0;
    display: flex;
    flex-grow: 1;
    flex-flow: row wrap;
}