.section-main {
    grid-row: 3 / 4;
    grid-column: col-start 2 / col-end 8;

    background-color: #fff;
}

.mobiles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
    grid-gap: 3rem;

    width: 100%;
    padding: 2.5rem;
}

.mobile {
    
    box-shadow: 0 1rem 1.5rem rgba($c-dark, .3);
    padding: 1rem;

    &__img {
        width: 100%;
        display: inline-block;
    }

    &__brand {
        background: linear-gradient(45deg, $c-main, $c-second);
        padding: .5rem 2rem;
        font-size: 2rem;
        text-align: center;
        color: $c-white;
        font-weight: 300;
        text-transform: uppercase;
    }

    &__specs {
        padding: 1rem;
    }

    &__box {
        display: flex;
        justify-content: space-between;

        font-weight: 700;

        span {
            font-weight: 400;

        }
    }






    .btn {
        font-size: 1.6rem;
    }
}