.section-main {
    grid-row: 3 / 4;
    grid-column: col-start 2 / col-end 8;

    background-color: transparent;
    border: 3px solid #fff;

    @media only screen and (max-width: $tab-port) {
        grid-row: 4 / 5;
        grid-column: col-start 1 / col-end 8;
    }
}

.mobiles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    grid-gap: 4rem;

    width: 100%;
    padding: 5rem 2.5rem;
    backface-visibility: hidden;

    @media only screen and (max-width: $tab-port) {
        grid-gap: 2rem;
        padding: 2rem;
    }
}

.mobile {
    
    box-shadow: 0 1rem 1.5rem rgba($c-dark, .3);
    padding: 1rem;
    background-color: #fff;
    transition: all .4s;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;

    .buttons {
        align-items: flex-end;
    }
    
    &__img {
        width: 100%;
        display: inline-block;
    }

    &__brand {
        background: linear-gradient(45deg, $c-main, $c-second);
        padding: .5rem 2rem;
        font-size: 1.8rem;
        text-align: center;
        color: $c-white;
        font-weight: 300;
        text-transform: uppercase;
    }

    &__model {
        display: block;
    }

    &__price {
        border-bottom: 1px solid $c-main;
        padding: .5rem 1rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    &__specs {
        padding: 1rem;
        backface-visibility: hidden;
    }

    &__box {
        display: flex;
        justify-content: space-between;
        font-size: 1.4rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        font-weight: 700;

        @media only screen and (max-width: $phone) {
            font-size: 1.7rem;
        }

        span {
            font-weight: 400;
        }
    }

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 1.5rem 2rem rgba($c-dark, .3);
        backface-visibility: hidden;

        @media only screen and (max-width: $tab-port) {
            transform: scale(1);
            box-shadow: 0;
            backface-visibility: hidden;
        }
    }

    .btn {
        font-size: 1.6rem;
    }
}