.section-main {
    grid-row: 3 / 4;
    grid-column: col-start 2 / col-end 8;

    background-color: transparent;
    border: 3px solid #fff;
}

.mobiles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
    grid-gap: 4rem;

    width: 100%;
    padding: 5rem 2.5rem;
}

.mobile {
    
    box-shadow: 0 1rem 1.5rem rgba($c-dark, .3);
    padding: 1rem;
    background-color: #fff;
    transition: all .4s;
    backface-visibility: hidden;

    &__img {
        width: 100%;
        display: inline-block;
    }

    &__brand {
        background: linear-gradient(45deg, $c-main, $c-second);
        padding: .5rem 2rem;
        font-size: 1.8rem;
        text-align: center;
        color: $c-white;
        font-weight: 300;
        text-transform: uppercase;
    }

    &__price {
        border-bottom: 1px solid $c-main;
        padding: .5rem 1rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    &__specs {
        padding: 1rem;
    }

    &__box {
        display: flex;
        justify-content: space-between;
        font-size: 1.4rem;

        font-weight: 700;

        span {
            font-weight: 400;
        }
    }

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 1.5rem 2rem rgba($c-dark, .3);
    }






    .btn {
        font-size: 1.6rem;
    }
}